* {
    margin: 0;
}

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-style: normal;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: black;
}

p, li {
    font-size: 1.1em;
    color: #F9F8FF;
}

header, footer {
    background-color: white;
    padding: 20px 50px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 30px;
}

.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
}

a:hover {
    text-decoration: underline;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.lien-icon:hover {
    opacity: 0.5;
    text-decoration: none;
}

.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}

.carre-contenu h2 {
    margin-top: 30px;
}

.carre-contenu ul {
    margin-top: 30px;
}

section {
    padding: 80px;
}

.accueil-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: auto;
}

.accueil-photos {
    background-color: white;
    padding: 80px;
}

.accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}

.grid-projets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    gap: 15px;
}

.grid-projets img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/*.accueil-photos div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}*/

.a-propos-main {
    width: 50%;
    margin: auto;
}

.portfolio-section-photos {
    background-color: white;
}

.portfolio-section-photos h2 {
    color: #242424;
    margin-top: 80px;
    margin-bottom: 40px;
}

.grid-paysages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

.grid-portraits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

.grid-paysages img, .grid-portraits img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}





/*apparait lorsque la classe mon-element est survolée avec la souris
.mon-element:hover {
    background-color: #BEAEE2;
    color: white;
}*/

/*apparait lorsqu'un titre h1 est survolé avec la souris
h1:hover {
    color: #CDF0EA;
}*/

/*apparait lorsqu'un paragraphe est survolé avec la souris
p:hover {
    color: #F9CEEE;
}*/

/*apparait lorsqu'un lien est en train d'être cliqué
a:active {
    background-color: #C1FFD7;
}*/

/*apparait lorsqu'un lien est sélectionné (avec tab par exemple)
a:focus {
    background-color: #FCFFA6;
}*/

/*apparait lorsqu'un lien a déjà été sélectionné/visité
a:visited {
    color: black;
}*/

/*applique le style à toutes les balises <em> situées à l'intérieur d'une balise <h3>
h3 em {
 style
}*/

/*applique le style à la première balise <p> située après un titre <h3>
h3 + p {
 style
}*/

/*applique le style à tous les liens hypertexte <a> qui possèdent l'attribut title
a[title] {
    style
}*/

/*applique le style à tous les liens hypertexte <a> qui possèdent le mot "ici" dans leur attribut
a[title*="ici"] {
    style
}*/

/*balise pour une class
.surbrillance {
    font-size: 5em;
}*/

/*balise pour un id
#logo {
    height: 52;
    width: 52;
}*/

/*
balise {
    propriete: valeur;
}*/
